<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


    <!-- You may need to comment this out to get the final jars from geronimo.deps -->
    <mirrors>
        <mirror>
            <id>local.mirror.central</id>
            <mirrorOf>external:*,!geronimo.deps</mirrorOf>
            <name>Force everything to come from Central Maven Repository</name>
            <url>http://repo1.maven.org/maven2/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>extra-repos</id>
            <repositories>
                <repository>
                    <id>geronimo.deps</id>
                    <name>Geronimo Dependencies not in Central</name>
                    <url>http://svn.apache.org/repos/asf/geronimo/repo/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>extra-repos</activeProfile>
    </activeProfiles>

</settings>