<div dojoAttachPoint="progressBarNode" class="progress-bar">
<table>
	<tr>
		<td>
			<table>
				<tr>
					<td dojoAttachPoint="progressBarUpdate" class="update-text">Updating...</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr dojoAttachPoint="progressBarRow">
					<td><div class="tickbox"></div></td>
					<td><div class="tickbox"></div></td>
					<td><div class="tickbox"></div></td>
					<td><div class="tickbox"></div></td>
					<td><div class="tickbox"></div></td>
					<td><div class="tickbox"></div></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>