<div dojoAttachPoint="quickQuoteNode" class="daytrader-pane">
	<div dojoAttachPoint="labelNode" class="daytrader-pane-header">
		<table align="center" width="98%">
			<tr>
				<td class="title">${this.label}</td>
				<td align="right">
					<div dojoAttachPoint="paneControl" dojoAttachEvent="onclick: onLabelClick" class="daytrader-minimize-image"></div>
				</td>
			</tr>
		</table>
	</div>
	<div dojoAttachPoint="containerNode" class="daytrader-pane-content">
		<div style="height: 4px"></div>
		
		Some content will go here...
	</div>
</div>
